.container-civilization {
  width: 100%;
  background-color: #ffd740;
  display: flex;
  flex-wrap: wrap;
  justify-content: column;
  gap: 10px;
}
.container-civilization2 {
  width: 100%;
  background-color: #85c94d;
  display: flex;
  flex-wrap: wrap;
  justify-content: column;
  gap: 10px;
}

.card {
  order: 4;
  flex-grow: 4;
  background-color: rgb(36, 35, 32);
  flex-shrink: 3;
  color: #fff;
  width: 25%;
  padding: 1%;
  margin: 1%;
}

div {
  margin: 4px;
}
